.heading{
    height: 20%;
    text-align: center;
    justify-content: center;
    font-size: 2em;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 80%;
    align-items: center;
    justify-content: center;
    padding: 5em;
    gap: 5em;
    .card{
        display: flex;
        flex-wrap: wrap;
        min-width: 30em;
        min-height: 10em;
        justify-content: center;
        align-items: center;
        border: 1px solid blue;
        background-color: rgb(197, 197, 255);
        a{
        text-decoration: none;
        font-size: 1.5em;
        color: blue;
        }
    }
}