<mat-card class="heading">
    <mat-card-title>Of And From</mat-card-title>
</mat-card>
<mat-card class="container">
  <mat-card class="card">
    
    <mat-card-content>
      <ul id="elContainer1"></ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <ul id="elContainer">
        <li>{{ obsMsg.a }}</li>
        <li>{{ obsMsg.b }}</li>
        <li>{{ obsMsg.c }}</li>
        <li>{{ obsMsg.d }}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</mat-card>

<mat-card class="container">
  <mat-card class="card">
    <mat-card-content>
      <ul id="elContainer2"></ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <ul id="elContainer3"></ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <ul id="elContainer4"></ul>
    </mat-card-content>
  </mat-card>
</mat-card>
